.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        margin-top: 15px;
        text-align: center;

        button {
            width: 30px;
            height: 35px;
            margin: 0 5px;
            border: none;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            background-color: #fff;
            border-radius: 3px;
            cursor: pointer;
            transition: all ease 0.3s;
        }

        .active {
            background: #1976d2;
            color: #fff;
        }
    }
}


.ul {
    background-color: #fff;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    width: 250px;
    position: absolute;
    top: 130px;
    right: 90px;
    list-style: none;
    li {
        a {
            color: #072227;
            text-decoration: none;
            padding: 5px;
        }
    }
}

.h5 {
    width: 100%;
    text-align: center;
    color: #F44336;
    font-size: 25px;
    background-color: #FFCDD2;
}