.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        display: block;
        font-weight: bold;
        text-decoration: none;
        font-size: 21px;
        color: #00796B;
        cursor: pointer;
        background: #E0F2F1;
        padding-right: 10px;
        width: 1162px;
        margin-right: 4px;
        margin-bottom: 7px;
        border-radius: 3px;
    }
}