.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;

    h1 {
        margin-top: 10px;
        text-align: center;
    }

    .row {
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        color: #072227;
        border-radius: 3px;
        padding: 0px 10px;

        h2 {
            font-size: 24px;
        }
    }

    .rowEnd {
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        color: #072227;
        border-radius: 3px;
        padding: 5px 10px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 21px;
            color: #fb8c00;
        }

        .button {
            font-family: "iransans";
            background-color: #43a047;
            font-size: 14px;
        }
    }

    table {
        margin-top: 15px;
        .name {
            width: 700px;
        }
        .price {
            width: 200px;
        }
        .count {
            width: 300px;
        }
    }

    .count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .counter {
            input {
                height: 30px;
                width: 50px;
                text-align: center;
                outline: none;
                border: 1px solid #fff;
            }
            button {
                height: 30px;
                width: 30px;
                color: #f44336;
                background: #ffdbd8;
                font-weight: bold;
                border: none;
                border: 1px solid #ffdbd8;
                cursor: pointer;
            }
        }

        button {
            padding: 3px 10px;
            font-family: "iransans";
            cursor: pointer;
            color: #f44336;
            background: #ffdbd8;
            font-weight: bold;
            border: none;
            border: 1px solid #ffdbd8;
            border-radius: 3px;
        }
    }
}

.form_list {
    width: 1200px;
    margin: 0 auto;

    button {
        width: 250px;
        font-family: "iransans";
        background-color: #43a047;
        &:hover {
            background-color: #26792a;
        }
    }

    h3 {
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        color: #072227;
        border-radius: 3px;
        padding: 5px 10px;
        margin-top: 15px;
    }

    .input_box {
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        margin-top: 15px;
        padding: 10px 0;
        border-radius: 5px;

        .row {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;

            label {
                display: flex;
                flex-direction: column;
            }

            input {
                width: 400px;
                padding: 7px;
                border-radius: 3px;
                border: 1px solid #072227;
                margin-top: 5px;
                outline: none;

                &::placeholder {
                    font-family: "iransans";
                }
            }
        }
    }
}
