.header_fluid {
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 5%) 0px 10px 15px -3px,
        rgba(0, 0, 0, 1%) 0px 4px 6px -2px;

    z-index: 500;
    position: fixed;
    top: 0;
    header {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                a {
                    padding: 20px 30px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: #072227;
                    transition: all ease 0.3s;

                    h5 {
                        color: #f44336;
                        background: #ffdad8;
                        padding: 2px 5px;
                        border-radius: 3px;
                        margin: 0 5px;
                        min-width: 23px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover {
                        color: #35858b;
                        box-shadow: rgb(53, 133, 139) 0px 2px 0px 0px;
                    }

                    svg {
                        margin-left: 5px;
                    }
                }
            }
        }

        .logo_box {
            display: flex;
            align-items: center;
            text-decoration: none;

            h1 {
                color: #43789b;
                font-size: 21px;
                margin-right: 10px;
            }

            figure {
                width: 50px;
                height: auto;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #072227;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    color: #fff;
}

@media only screen and (max-width: 1220px) {
    header {
        width: 992px !important;
    }
}

@media only screen and (max-width: 1005px) {
    header {
        width: 800px !important;
    }
}

@media only screen and (max-width: 810px) {
    header {
        width: 600px !important;
    }
}

@media only screen and (max-width: 610px) {
    header {
        width: 400px !important;
        h1 {
            font-size: 13px !important;
        }
        figure {
            width: 30px !important;
        }

        a {
            font-size: 11px !important;
            padding: 10px !important;
        }
    }
}

@media only screen and (max-width: 410px) {
    header {
        width: 310px !important;
    }
}

@media only screen and (max-width: 320px) {
    header {
        width: 95% !important;

        h1 {
            font-size: 11px !important;
        }
        figure {
            width: 20px !important;
        }

        a {
            font-size: 9px !important;
            padding: 10px !important;
        }
    }
}
